.btn-primary-os{
    color: #fff;
    background-color: #0E4F49;
    border-color: #0E4F49;
}
.btn-secondary-os{
    color: #fff;
    background-color: #275f88;
    border-color: #275f88;
}
/* The hero image */
.hero-image{
   width:100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000; 
  }
  .nav-pills .nav-item .nav-link-tab{
      color: #0E4F49;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0E4F49;
  }
.bg{
  background-color: #0e4f4949;
}
.form-control-custom::placeholder {
  color: #0E4F49;
  font-size: 20px;
  text-align: center;
  opacity: 1; /* Firefox */
}

.form-control-custom :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:#0E4F49;
}

.form-control-custom::-ms-input-placeholder { /* Microsoft Edge */
 color:#0E4F49;
}

.no-boder{
/*  border-left-style: none;
  border-right-style: none;
  border-top-style: none;*/
  border-radius: 1rem;
  padding: 8px;
  border: 1px solid #0E4F49;
  background-color: transparent;
}
.elp-bg{ background-color: #0E4F49; }
.no-boder:focus, .no-boder:active{
/*  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  background-color: none;*/
  outline: none;
}

.form-control-custom {
  width: 79%;
}

@media (min-width:999px) {

  .ui-widget.ui-widget-content {
    font-size: 20px;
    }
  .ui-menu-item-wrapper {
      font-size: 20px;
      background: #0E4F49;
      color: #fff;
  }

  .ui-menu-item-wrapper:hover {
      font-size: 20px;
      background: white;
      color: #197e74;
  }


}
@media (max-width:541px) {

  .ui-widget.ui-widget-content {
    width: 79%;
    font-size: 20px;
    }
    .ui-menu-item-wrapper { 
        font-size: 20px;
        background: #0E4F49;
        color: #fff;
    }

    .ui-menu-item-wrapper:hover {
        font-size: 20px;
        background: white;
        color: #0E4F49;
    }


}

.ui-widget.ui-widget-content {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-size: 20px;
}
.ui-menu-item-wrapper {
    font-size: 20px;
    background: #0E4F49;
    color: #fff;
}

.ui-menu-item-wrapper:hover {
    font-size: 20px;
    background: white;
    color: #0E4F49;
}
.ui-autocomplete-input{
   width:max-content;
}