{% extends 'password/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <h5 class="text-center h4"><span class="text-color">UJUZISET</span> PASSWORD RESET</h5>
            <div class="card shadow-sm wow fadeInUp mt-3" data-wow-delay="1s">
                <div class="card-body"> 
                    <p class="text-muted"><i class="fa fa-send"></i> Send reset link</p>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        <div class="">
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-sm form-control mt-2 e-btn
                            wow bounceIn mt-2" data-wow-delay="1.8s">Send password reset link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}