.elp-bg{
    background: #0e876e;
    color: #fff !important;
}

.btn-primary-os{
    color: #fff;
    background-color: #0E4F49;
    border-color: #0E4F49;
}
.btn-secondary-os{
    color: #fff;
    background-color: #275f88;
    border-color: #275f88;
}
/* The hero image */
.hero-image{
   width:100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000; 
  }
  .nav-pills .nav-item .nav-link-tab{
      color: #0E4F49;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0E4F49;
  }
.bg{
  background-color: #0e4f4949;
}