{% extends 'UJUZI/base.html' %}
{% load social_share %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>




<div class="u-contents-wrapper">
   <div class="sub-title is-s">
   {{courses}} <br> contents({{total}})              <button class="btn btn-sm btn-dark ml-2" data-target="#course" data-toggle="modal">Create Content</button>

 </div>

<!--course registration modal-->

<div class="modal fade" id="course">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-body">
                 <div class="pt-2">
                     <h4 class="text-center">Content Registration Form </h4>
                 </div>
                 <div id="loginContainer">

                     <hr style="background:white;">
                        <form  class="mr-auto ml-md-3 my-2 my-md-0 mw-100" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
						      	{% include 'includes/form.html'%}
                            {{form.media}}
						      	<div class="form-group">
                                    <button type="submit"  class="btn mu-bg mu-color btn-block c-btn"> <b>Create Content</b></button>
                                </div>
                                <h6 class="text-center">
                                </h6>
                </form>

                 </div>
             </div>
         </div>
     </div>
 </div>

       <div class="u-info-form form-full">

<table>
  <tr>
    <th>#</th>
    <th>module name</th>
    <th>Type</th>
    <th>Size</th>
    <th>Action</th>
  </tr>
  <tr>
      {% for i in modules %}
      <td>{{forloop.counter}}</td>
      <td><a href="" style="text-decoration:none;">{{i.title}}</a> </td>
      <td>{{i.extension}}</td>
      <td>{{i.content.size|filesizeformat }}</td>
      <td><a href="" style="text-decoration:none;"><i class="fa fa-trash" ></i></a></td>
       {% endfor %}
  </tr>
</table>            </div>
</div>





<!--end of category courses-->
{% endblock content %}