{% extends 'UJUZI/base.html' %}
{% load social_share %}
{% load sizify %}
{% block content %}




<div class="u-contents-wrapper">
   <div class="sub-title is-s">
    Instructor management({{total}})
   </div>

<!--course registration modal-->
    <div class="u-info-form form-full table-box">
         <div  class="u-form">
          <table>
              <tr>
                <th>#</th>
                <th>Tutor</th>
                <th>email</th>
                <th>Contact</th>
                <th>Institution</th>
                <th>Active</th>

              </tr>
              <tr>
                  {% for i in instructor %}
                  <td>{{forloop.counter}}</td>
                  <td>{{i.tutor.first_name}} - {{i.tutor.last_name}}</a> </td>
                  <td>{{i.tutor.email}}</td>
                  <td>{{i.tutor.phone}}</td>
                  <td>{{i.institution.name }}</td>

                  <td>
                      {% if i.is_instructor %}


                      <a href="{% url 'UJUZI:change_instructor_status' i.tutor.id %}" style="text-decoration:none;"><i class="fa fa-toggle-on text-success"></i></a>
                      {% else %}
              <a href="{% url 'UJUZI:change_instructor_status' i.tutor.id %}" style="text-decoration:none;"><i class="fa fa-toggle-off "></i></a>

                      {% endif %}

                  </td>

                  {% endfor %}
              </tr>
            </table>
         </div>
    </div>


</div>





<!--end of category courses-->
{% endblock content %}