{% extends 'UJUZI/base.html' %}
{% block content %}



<div class="sub-title is-s">
   My Course({{total}})
 </div>

<!--enrolled courses-->
<!--start of my courses-->
<ul class="cards my-courses">
    <li class="card m-course">
        <div class="m-course-cover">
            <img src="" alt="img"/>
        </div>
        <div class="m-course-title">
            Introduction to geography
        </div>
        <div class="m-st-views">
            <div class="m-st">
                <i></i>
                <span>120 students</span>
            </div>
            <div class="m-views">
                <i></i>
                <span>140 views</span>
            </div>
        </div>
    </li>
</ul>
<!--end of my courses-->
  {% if total > 0 %}
<ul class="">


    {% for x in course %}
    <a href="{% url 'UJUZI:course_detail' x.name %}" style="text-decoration:none;">
        <li class='u-course course-{{x.category.id}}' id='l-course-{{x.id}}'>
        <div class='course-img'>
            <img src="{{x.image.url}}" alt='no image'>
        </div>
        <div class='u-course-desc'>
            <div class='u-course-title'>
                {{x.name}}
            </div>
            <div class='u-course-desc-txt'>
{{x.objective|safe}}            </div>
        </div>
    </li>
    </a>
    {% endfor %}

</ul>
{% else %}
    Sorry, but currently you don't have any Course
{% endif %}
<!--end of latest course-->







<!--end of category courses-->
{% endblock content %}