{% extends 'UJUZI/base.html' %}
{% block content %}



<div class="sub-title is-s">
   My Course({{total}})              <button class="btn btn-sm btn-dark ml-2 u-create-btn" data-target="#course" data-toggle="modal">Create Course</button>

 </div>

<!--course registration modal-->

<div class="modal fade" id="course">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-body">
                 <div class="pt-2">
                     <h4 class="text-center">Course Registration Form </h4>
                 </div>
                 <div id="loginContainer">

                     <hr style="background:white;">
                        <form  class="mr-auto ml-md-3 my-2 my-md-0 mw-100" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
						      	{% include 'includes/form.html'%}
                            {{form.media}}
						      	<div class="form-group">
                                    <button type="submit"  class="btn mu-bg mu-color btn-block c-btn"> <b>Create Course</b></button>
                                </div>
                                <h6 class="text-center">
                                </h6>
                </form>

                 </div>
             </div>
         </div>
     </div>
 </div>



<!--start of my courses-->
{% if total > 0 %}
<div class="cards my-courses">
    {% for x in courses %}
        <a href="{% url 'UJUZI:course_module_contents' x.id %}" class="card m-course" style="text-decoration:none;">
            <div class="m-course-cover">
                <img src="{{x.image.url}}" alt="img"/>
            </div>
            <div class="m-course-title">
                <p>{{x.name}}</p>
            </div>
            <div class="m-st-views">
                <div class="m-st">
                    <i class="fa fa-users"></i>
                    <span>

 {% for y in enrollment %}
                        {% if x.id  ==  y.course.id %}

                        {{y.total}} enrollments</span>
                     {% endif %}
                     {% endfor %}
                </div>
                <div class="m-views">
                    <i class="fa fa-eye"></i>
                    <span> {% for z in views %}
                        {% if x.id  ==  z.content.course.id %}

                        {{z.total_views}} views</span>
                     {% endif %}
                     {% endfor %}</span>
                </div>
            </div>
        </a>

    {% endfor %}
</div>
{% else %}
    Sorry, but currently you don't have any Course
{% endif %}






<!--end of category courses-->
{% endblock content %}