{% extends 'UJUZI/base.html' %}
{% block content %}

<div class="search-in">
    <div class="inp-wrapper">
        <div class="s-icon">
            <i id="search-icon" class="fa-solid fa-magnifying-glass s-ic" style="font-size:15px" ></i>
            <a href="{% url 'UJUZI:home_view'  %}" style="text-decoration:none;">
             <i  class="fa-solid  fa-arrow-left-long s-bck" style="font-size:15px" ></i>
                </a>
        </div>
        <input type="text" id="user-input" placeholder="What do you want to learn?"/>
    </div>
</div>
<div id="replaceable-content">
    {% include 'UJUZI/search-results-partial.html' %}
</div>
<div class="sub-title is-s">
   Categories
 </div>




{% if categories.count > 4  %}
<ul class="categories-list is-s splide" aria-label="Splide">
    <div class="splide__track">
        <div class="splide__list">
       {% for i in categories %}

        <li class="category-li splide__slide mt-4 ml-3 mb-3 shadow" id="cat-{{i.id}}">
            <div class="u-cat-no">{{i.id}}</div>
             <div class="course-category-name" style="display:none">{{i.name}}</div>
             <div class="cat-img">
                 <img src="{{i.icon.url}}"/>
             </div>
            <span>{{i.name}} </span>
        </li>

        {% endfor %}

        </div>
    </div>
</ul>
{% endif %}

<!--category courses-->
<div class="sub-title is-s">
    <span class="cat-name">Latest</span> ~ courses
 </div>

<!--latest courses-->
<ul class="u-course-list latest-c is-s">
    {% for x in latest %}
    <a href="{% url 'UJUZI:course_detail' x.name %}" style="text-decoration:none;">
        <li class='u-course course-{{x.category.id}}' id='l-course-{{x.id}}'>
        <div class='course-img'>
            <img src="{{x.image.url}}" alt='img'>
        </div>
        <div class='u-course-desc'>
            <div class='u-course-title'>
                {{x.name}}
            </div>
            <div class='u-course-desc-txt'>
                <p>{{x.objective|safe}}</p>
            </div>
        </div>
    </li>
    </a>
    {% endfor %}
</ul>
<!--end of latest course-->


<ul class="u-course-list cat-courses-li is-s">
    {% for x in courses %}
    <a href="{% url 'UJUZI:course_detail' x.name %}" style="text-decoration:none;">
    <li class='u-course course-{{x.category.id}}' id='course-{{x.id}}'>
        <div class='course-img'>
            <img src="{{x.image.url}}" alt='img'>
        </div>
        <div class='u-course-desc'>
            <div class='u-course-title'>
                {{x.name}}
            </div>
            <div class='u-course-desc-txt'>
                {{x.objective|safe}}
            </div>
        </div>


        <div class="m-st-views m-st-views-course">
            <div class="m-st">
                <i class="fa fa-users"></i>
                <span>
                    {{x.enrollments}} enrollment
                </span>
            </div>
            <div class="m-views">
                <i class="fa fa-eye"></i>
                <span>  {{x.views}} views</span>
            </div>
        </div>
    </li>
    </a>
    {% endfor %}
</ul>





<!--end of category courses-->
{% endblock content %}