{% extends 'UJUZI/base.html' %}
{% load social_share %}
{% block content %}

<div class="u-contents-wrapper">
    <div class="course-title u-pr-t">
       User Profile
    </div>

    <div class="u-profile-info-box">
        <div class="u-profile-left">

            <div class="u-profile-pic">

            </div>

            <div class="u-profile-name">
                JOHNSON SHIRIMA
            </div>
            <div class="u-p-email">
                <i class="fa-solid fa-envelope"></i>
                <span>johnsonshirima655@gmail.com</span>
            </div>

        </div>
        <div class="u-profile-right">
            <div class="u-info-title">
                user Info
            </div>
            <div class="u-info-form">
                form here
            </div>
        </div>
    </div>


</div>






<!--end of category courses-->
{% endblock content %}